.recipe-list-item{
	padding-bottom: 20px;
	display: flex;
	align-items: stretch;
}

.card-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.card-description{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 15px;
}
.card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-bottom-icons{
	width: 50px;
	display: flex;
	justify-content: space-between;
}

.fa-bookmark:hover{
	color: rgb(19, 146, 230);
}

.recipe-list-item.favourite .fa-bookmark{
	color: rgb(19, 146, 230);
}

.fa-bookmark:hover::after { 
	content: attr(data-title); 
}

.fa-trash-alt:hover{
	color: red;
}