.recipe-add-form{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 100px;
}

/* h4, form, .form-control{
	margin-bottom: 20px;
} */

form{
	display: flex;
	flex-direction: column;
}

span{
	margin: 5px 0 10px;
	font-size: 12px;
	color: red;
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}