.recipe-list{
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// justify-content: start;
}

img{
	object-fit: cover;
    object-position: 50% 50%;
}

.btn-load{
	text-align: center;
}